.card-title {
  font-size: 30px;
  color: #1e383c;
}
.h2 h2 {
  color: #1e383c;
}

.css-692fgp {
  background-color: #8ea6b2;
  color: #f6f8fa;
}
.css-vcfpfv {
  background-color: #8ea6b2;
}
.css-1b3lipl:before {
  background-color: #8ea6b2;
}
.css-1jv1kel h3 {
  color: #1e383c;
}
.css-1jv1kel h4 {
  color: #47646f;
}
/* .css-o1utbh * {
  color: #47646f;
} */
